<div class="card card2 card-default mt-5">
  <div class="card card2 card-heading pt-2">
    <h3 class=" card2 card-title ml-5 ">Repos</h3>
  </div>
  <div class="card2 card-body">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let repo of repos">
          <div class="row">
            <div class="col-md-12">
              <h4><a href="{{repo.html_url}}" target="_blank">{{Repository.name}}</a></h4>
              <p>{{Repository.description}}</p>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
